@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');
@import 'partials/_functions';
@import 'partials/_variables';
@import 'partials/_animates';

#wpfooter{
  display: none;
}
#wpcontent{
  padding-left: 0;
}
#wpbody{
  background: linear-gradient(117.89deg, #F5F8FD 0%, #F4F6FA 99.6%);
  #wpbody-content{
    padding-bottom: 0;
    padding-left: 0;
    min-height: calc( 100vh - 46px );
    min-height: -webkit-calc( 100vh - 46px );
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: calc( 100% - 2px );
    width: -webkit-calc( 100% - 2px );
  }
  #frame-socialhead{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: calc( 100vh - 46px );
    min-height: -webkit-calc( 100vh - 46px );
    overflow: hidden;
    margin-left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  #socialshop-page{
    margin-bottom: 50px;
    @include _font(500);
    header{
      margin-top: 50px;
    }
    &.loading-page{
      #ssLogin{
        position: relative;
        opacity: 0.9;
        span{
          display: inline-block;
          position: absolute;
          top: 12px;
          right: 10px;
          animation: rotation 2s infinite linear;
          -webkit-animation: rotation 2s infinite linear;
          &:after{
            border-radius: 50%;
            border: 2px solid white;
            border-left-color: transparent;
            content: " ";
            display: block;
            width: 16px;
            height: 16px;
            box-sizing: border-box;
            backface-visibility: hidden;
            right: 10px;
            top: 4px;
            transform-origin: center;
            transform-box: fill-box;
          }
        }
      }
    }
    .notice{
      display: inline-block;
      padding: 10px 10px 5px;
      margin: 10px 3px;
    }
    .text-center{
      text-align: center;
    }
    a{
      text-decoration: none;
    }
    img{
        margin-bottom: 15px;
    }
    h2{
      font-family: Inter;
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 15px;
      margin-top: 0;
      color: #163F59;
    }
    p{
      color: #768188;
      max-width: 547px;
      margin: 0 auto 5px auto;
      font-weight: 400;
      font-size: 14px;
    }
    .ss-actions{
      margin-top:12px;
      a,button{
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
      }
      button{
        background: #5B86E5;
        border-radius: 4px;
        margin-right: 8px;
        width: 160px;
        height: 40px;
        cursor: pointer;
      }
      a{
        text-decoration: none;
        color: #5B86E5;
        display: inline-block;
        margin-left: 8px;;
      }
      .btn-primary{
        background: $_primaryColor;
        border-radius: 3px;
        color:white;
        padding: 8px 24px;
        font-size: 14px;
        line-height: 19px;
        border: 0;
        &:hover{
            opacity: 0.8;
        }
      }
      /* end .row-integration */
    }
    footer{
      font-size: 13px;
      line-height: 20px;
      padding: 0;
      position: absolute;
      width: 100%;
      bottom: 0;
      .d-flex{
        display: -ms-flexbox!important;
        display: flex!important;
      }
      .justify-content-center {
        -ms-flex-pack: center!important;
        justify-content: center!important;
      }
      .align-items-center {
        -ms-flex-align: center!important;
        align-items: center!important;
      }
      ul{
        margin-bottom: 0;
      }
      li{
        margin-right: 14px;
        margin-bottom: 0;
        position: relative;
        &:before{
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: #39332E;
          top: 8px;
          position: absolute;
          left: 0;
        }
        &:first-child{
          &:before{
            display: none;
          }
          a{
            color: #5b86e5;
            padding-left: 0;
          }
        }
        &:last-child{
          margin-right: 0;
        }
      }
      a{
        color: #39332E;
        font-size: 13px;
        line-height: 20px;
        padding-left: 10px;
        &:hover{
          color: #5b86e5;
        }
      }
    }


    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }

  }
}


/* width */
::-webkit-scrollbar {
    width: 0;
}

/* button */
::-webkit-scrollbar-button {
    background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
    background: #000;
}

/* Corner */
::-webkit-scrollbar-corner {
    background: #999;
}

/* Resizer */
::-webkit-resizer {
    background: #111;
}
